@using Microsoft.Web.Mvc
@using NHibernate.Mapping
@using Phorcys.UI.Web.Controllers
@using Telerik.Web.Mvc.UI

@{
  ViewBag.Title = "END Calculator";
  Layout = "~/Views/Shared/SiteMaster.cshtml";
}

<script type='text/javascript' src='/Phorcys/Scripts/knockout-2.2.1.js'></script>
<script type='text/javascript' src="/Phorcys/Scripts/DiveCalcs.js"></script>
<script type='text/javascript' src="/Phorcys/Models/EndModel.js"></script>

<h1>END Calculator</h1>

<div id="body">

</div>

<div id="calculator" align="center">
  <form id="form1" name="form1" action="" >
    <br/> <br/>
    <label for="O2">
      Oxygen %:</label>
    <input id="O2" name="O2" data-bind="value: O2" size="2"/>
    
    <label for="HE">
      Helium %:</label>
    <input id="HE" name="HE" data-bind="value: He" size="2"/>

    <br/><br/>
    <label for="Depth">
      Depth: </label>
    <input id="Depth" name="Depth" data-bind="value: Depth" size="4"/>
    <br/><br/>

    <button data-bind="click: Calc">Calc</button>
    <br/><br/>

    <label for="END">
      <b>E</b>quivalent <b>N</b>itrogen <b>D</b>epth
    </label>
    <input id="END" name="END" data-bind="value: END" size="4" readonly/>
    <br/><br/>
  </form>
</div>
<script type="text/javascript">
  ko.applyBindings(viewModel);
</script>