@using Microsoft.Web.Mvc
@using Phorcys.UI.Web.Controllers
@using Phorcys.UI.Web.Models
@using Phorcys.Core
@using SharpArch.Web.Areas

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}

    <h2>Change Password</h2>
    <p>
        Your password has been changed successfully.
    </p>

