@using Microsoft.Web.Mvc
@using NHibernate.Mapping
@using Phorcys.Core
@using Phorcys.UI.Web.Controllers
@using Telerik.Web.Mvc.UI
@model Phorcys.UI.Web.Models.DiveSitesIndexModel
@{
  ViewBag.Title = "Dive Sites";
  Layout = "~/Views/Shared/SiteMaster.cshtml";
}

<script type="text/javascript" language="javascript">
    function SubmitForm(id) {
        frmSite.SiteId.value = id;
        if (confirm("Are you sure?")) {
            frmSite.submit();
        }
    }

</script>
<h1>
    Dive Sites</h1>
@{ if (ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()] != null)
       {
       } <p id="pageMessage">
           @(ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()])
       </p>
}
<p>
    <b>
        @( Html.ActionLink<DiveSitesController>(c => c.Create(), "Create New Dive Site") )
    </b>
</p>

<form action="/Phorcys/DiveSites/Delete/" name="frmSite" method="post">
  <input type="hidden" id="SiteId" name="Id" />
</form>

<div id="grid">
@{ Html.Telerik().Grid<DiveSite>()
  .Name("DiveSiteGrid")
  .Pageable(pager => pager.PageSize(20))
  .BindTo(Model.DiveSiteList)
  .Columns(columns =>
             {
                 //columns.Template(o => Html.ActionLink<DiveSitesController>(c => c.Show(o.Id), o.Title)).HtmlAttributes(new {@class="grid"}).Title("Site");
                 columns.Bound(o => o.DiveLocation.Title).Title("Location").Sortable(true);
                 columns.Bound(o => o.Title).Title("Site").Sortable(true);
                 columns.Bound(o => o.MaxDepth).Title("Max Depth").Sortable(true);
                 columns.Bound(o => o.WaterType).Title("Water").Sortable(true);
                 columns.Template(o => Model.Url4Map(o.GeoCode)).Title("Map").HtmlAttributes(new { @class = "grid" });
                 //columns.Bound(o => o.Notes).Sortable(false);
                 columns.Bound(o => o.User.LoginId).Title("User").Sortable(true); 
                 columns.Template(o => (o.User.LoginId == "system" & User.Identity.Name != "system" ? Html.Encode("") : Html.ActionLink<DiveSitesController>(c => c.Edit(o.Id), "Edit").ToString())).HtmlAttributes(new { @class = "grid" });
                 columns.Template(o => (o.User.LoginId == "system" & User.Identity.Name != "system" ? Html.Encode("") : Html.Button("Delete","Delete",HtmlButtonType.Submit, "SubmitForm(" + o.Id + ")").ToString())).HtmlAttributes(new { @Class = "grid" } );
             })
  .Pageable()
  .Sortable()
  .Groupable()
  .Filterable()
  .Resizable(m => m.Columns(true))
  .Render();
 }
</div>