@using Microsoft.Web.Mvc
@using NHibernate.Mapping
@using Phorcys.UI.Web.Controllers
@using Telerik.Web.Mvc.UI

@{
  ViewBag.Title = "About Phorcys";
  Layout = "~/Views/Shared/SiteMaster.cshtml";
}

<h1>About Phorcys</h1>

<div id="body">
Phorcys was an ancient sea-god who presided over the hidden dangers of the deep. 
He and his wife Keto were also the gods of all the large creatures which inhabited the depths of the sea.
</div>

<div id="version">
Last Updated: 02/07/2014 11:22pm
    <p>
        .2.00 02/07/2014 - Adding certifications is now in place.
        .1.15 Added creating contact types and deleting contacts and their sub types (Diver, Instructor, etc.) <br/>
        .1.14 Update Profile implemented. <br />
        .1.13 Added error handling around tank for Edit Gear, fixed formatting on Retail Price <br />
        .1.13 Fixed Edit Gear, added Country selection to Add Contact <br />
        .1.12 Added Contact Create page and Delete feature <br />
        .1.11 Added Contact index page<br />
        .1.10 Refactored END Calc to use Knockout.js<br />
        .1.9 Added seperate END calculator<br/>
        .1.8 Added END to MOD calcualtor<br/>
        .1.7 Added MOD calculator<br/>
        .1.6 Added Gear and Tank Index page and Create page <br/>
        .1.5.1 Fixed spelling error on about page <br />
        .1.5 Fixed delete dive site, a lot of cleanup on Dive Location and Dive Site functionality <br />
        .1.4 Added ability to view dive sites for a location from the dive location list.
    </p>
</div>