@using Microsoft.Web.Mvc
@using NHibernate.Mapping
@using Phorcys.UI.Web.Controllers
@using Telerik.Web.Mvc.UI

@{
  ViewBag.Title = "About Phorcys";
  Layout = "~/Views/Shared/SiteMaster.cshtml";
}

<h1>About Phorcys</h1>

<div id="body">
Phorcys was an ancient sea-god who presided over the hidden dangers of the deep. 
He and his wife Keto were also the gods of all the large creatures which inhabited the depths of the sea.
</div>

<div id="version">
Last Updated: 11/23/2012 9:29pm
  <p>
    .1.8 Added END to MOD calcualtor<br/>
    .1.7 Added MOD calculator<br/>
    .1.6 Added Gear and Tank Index page and Create page <br/>
    .1.5.1 Fixed spelling error on about page <br />
    .1.5 Fixed delete dive site, a lot of cleanup on Dive Location and Dive Site functionality <br />
    .1.4 Added ability to view dive sites for a location from the dive location list.
  </p>
</div>