@using Microsoft.Web.Mvc
@using NHibernate.Mapping
@using Phorcys.UI.Web.Controllers
@using Telerik.Web.Mvc.UI

@{
  ViewBag.Title = "About Phorcys";
  Layout = "~/Views/Shared/SiteMaster.cshtml";
}

<h1>About Phorcys</h1>

<div id="body">
Phorcys was an ancient sea-god who presided over the hidden dangers of the deep. 
He and his wife Keto were also the gods of all the large creatures which inhabited the depths of the sea.
</div>

<div id="version">

    <p>
        Last Updated: 11/14/2023 10:48pm <br/>
        <br/>
        .4.00 11/14/23 10:48pm - Added ability to add a dive tied to a dive plan <br />
        .3.01 11/10/23 - Added ability to add a Dive Plan <br />
        .3.00 01/09/16 5:35pm - Added Dive Category screens <br />
        .2.10 05/16/2015 12:41am - Update list of certifications when agency is changed <br />
        .2.01 05/15/2015 8:47pm - 1st pass at Add Diver Certification <br />
        .2.00 02/07/2014 - Adding certifications is now in place <br />
        .1.15 Added creating contact types and deleting contacts and their sub types (Diver, Instructor, etc.) <br />
        .1.14 Update Profile implemented. <br />
        .1.13 Added error handling around tank for Edit Gear, fixed formatting on Retail Price <br />
        .1.13 Fixed Edit Gear, added Country selection to Add Contact <br />
        .1.12 Added Contact Create page and Delete feature <br />
        .1.11 Added Contact index page<br />
        .1.10 Refactored END Calc to use Knockout.js<br />
        .1.9 Added seperate END calculator<br />
        .1.8 Added END to MOD calcualtor<br />
        .1.7 Added MOD calculator<br />
        .1.6 Added Gear and Tank Index page and Create page <br />
        .1.5.1 Fixed spelling error on about page <br />
        .1.5 Fixed delete dive site, a lot of cleanup on Dive Location and Dive Site functionality <br />
        .1.4 Added ability to view dive sites for a location from the dive location list.
    </p>
</div>