@using Microsoft.Web.Mvc
@using NHibernate.Mapping
@using Phorcys.UI.Web.Controllers
@using Telerik.Web.Mvc.UI

@{
  ViewBag.Title = "Dive Sites";
  Layout = "~/Views/Shared/SiteMaster.cshtml";
}

<h1>Phorcys Dive Log</h1>

<div id="body">
   Phorcys is in early development but will track an extensive amount of diving
  related data once it is officially released. You will be able to share information
  with dive buddies and plan and review dives online. Some of the data you will be
  able to track is:
  <ul>
    <li>Pre dive planning</li>
    <li>Post dive logging</li>
    <li>Dive locations (a group of dive sites)</li>
    <li>Dive sites</li>
    <li>Dive buddies</li>
    <li>Dive Agencies</li>
    <li>Roles of divers on team</li>
    <li>Dive shops</li>
    <li>Dive shop services</li>
    <li>Types of dives</li>
    <li>Dive Manufacturers</li>
    <li>Gear</li>
    <li>Gear used on dive</li>
    <li>Specific information on tanks for gas planning - includes an entire team</li>
    <li>Gear service schedules</li>
    <li>Insurance policies</li>
    <li>Dive skills</li>
    <li>Dive certifications</li>
    <li>And much more</li>
  </ul>
</div>