@using Microsoft.Web.Mvc
@using Phorcys.Core
@using Phorcys.UI.Web.Controllers
@using Phorcys.UI.Web.Models
@using Phorcys.Web.Controllers
@using Telerik.Web.Mvc.UI
@model IEnumerable<DivePlan>
    @{
        ViewBag.Title = "Dive Plans";
        Layout = "~/Views/Shared/SiteMaster.cshtml";
    }
    <script type="text/javascript" language="javascript">
        function SubmitForm(id) {
            frmDivePlan.DivePlanId.value = id;
            if (confirm("Are you sure?")) {
                frmDivePlan.submit();
            }
        }
    </script>

    <h1>
        Dive Plans
    </h1>


    <div id="error" class="errorOnPage">
        @{ if (ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()] != null) {
         } <p id="pageMessage">
            @(ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()])
        </p>
        }
    </div>

    <p>
        @(Html.ActionLink<DivePlansController>(c => c.Create(), "Create New Dive Plan"))
    </p>

    <form action="/Phorcys/DivePlans/Delete/" name="frmDivePlan" method="post">
        <input type="hidden" id="DivePlanId" name="Id" />
        @Html.AntiForgeryToken()
    </form>

    <div id="grid">
        @{ Html.Telerik().Grid<DivePlan>()
  .Name("DivePlanGrid")
  .Pageable(pager => pager.PageSize(20))
  .BindTo(Model)
  .Columns(columns => {
      columns.Bound(o => o.Title).Title("Dive Plan").Sortable(true).Width(500).HtmlAttributes(new { @class = "grid" });
      //columns.Bound(o => o.Notes).Sortable(false).Width(500);
      columns.Bound(o => o.DiveSite.Title).Title("Dive Site").Sortable((true));
      columns.Bound(o => o.ScheduledTime).Title("Scheduled Time").Sortable(true);
      columns.Bound(o => o.MaxDepth).Title("Max Depth").Sortable(true);
      columns.Bound(o => o.User.LoginId).Title("User").Sortable(true);
      columns.Template(o => (o.User.LoginId == "system" & User.Identity.Name != "system" ? Html.Encode("") : Html.ActionLink<DivePlansController>(c => c.Edit(o.Id), "Edit").ToString())).HtmlAttributes(new { @class = "grid" });
      columns.Template(o => (o.User.LoginId == "system" & User.Identity.Name != "system" ? Html.Encode("") : Html.Button("Delete", "Delete", HtmlButtonType.Submit, "SubmitForm(" + o.Id + ")").ToString())).HtmlAttributes(new { @Class = "grid" });
   
  })
  .Pageable()
  .Sortable()
  .Filterable()
  .Resizable(m => m.Columns(true))
  .Render();
        }
    </div>

