@using Microsoft.Web.Mvc
@using NHibernate.Mapping
@using Phorcys.UI.Web.Controllers
@using Telerik.Web.Mvc.UI

@{
  ViewBag.Title = "MOD and END Calculator";
  Layout = "~/Views/Shared/SiteMaster.cshtml";
}

<script type="text/javascript">
    function CalcMOD(o2, ppo2, isFreshWater) {
      var atmDepth = 34;
      var isFresh = true;

      for (i = 0; i < isFreshWater.length; i++) {
        if (isFreshWater[i].checked) {
          isFresh = isFreshWater[i].value;
        }
      }
      if (isFresh == "false") {
        atmDepth = 33;
      }
      var mod = (ppo2 / (o2 / 100) - 1) * atmDepth;
      return Math.round(mod);
    }

    function CalcBoth(formVar) {
      formVar.MOD.value = CalcMOD(formVar.O2.value, formVar.PPO2.value, formVar.IsFreshWater);
      if (formVar.HE.value > 0) {
        formVar.END.value = CalcEND(formVar.HE.value, formVar.MOD.value, true);
      } 
      else {
        formVar.END.value = formVar.MOD.value;
      }
     return;
   }
    
    function CalcEND(he,depth,isFreshWater) {
      var end;
      var atmDepth = 33;
      if(isFreshWater) atmDepth = 34;

      //end = ( (1 - (he / 100)) * (depth + atmDepth)) - atmDepth;
      var1 = 1 - (he / 100);
      var2 = parseFloat(depth) + parseFloat(atmDepth);
      end = (var1 * var2) - atmDepth;
      return Math.round(end);
    }
    
</script>

<h1>MOD and END Calculator</h1>

<div id="body">

</div>

<div id="calculator" align="center">
  <form id="form1" name="form1" action="" >
    <br/> <br/>
    <label for="O2">
      Oxygen %:</label>
    <input id="O2" name="O2" value="21" size="8"/>
    
    <label for="O2">
      Helium %:</label>
    <input id="HE" name="HE" value="0" size="8"/>

    <br/><br/>
    <label for="PPO2">
      PPO2: </label>
    <input id="PPO2" name="PPO2" value="1.6" size="8"/>
    <br/><br/>

    <label for="IsFreshWater">
      Fresh/Salt Water:</label>
    <input type="radio" id="Fresh" name="IsFreshWater" value="true"
           checked="checked" />
    Fresh
    <input type="radio" id="Salt" name="IsFreshWater" value="false" />
    Salt
 
    <br/> <br/>
    <button type="button" id="button" onclick="CalcBoth(form1)">Calc</button>
    <br/><br/>

    <label for="MOD">
      <b>M</b>aximum <b>O</b>perating <b>D</b>epth
    </label>
    <input id="MOD" name="MOD" size="4" readonly/>
    <br/><br/>

    <label for="END">
      <b>E</b>quivalent <b>N</b>itrogen <b>D</b>epth
    </label>
    <input id="END" name="END" size="4" readonly/>

  </form>
</div>