@using Microsoft.Web.Mvc
@using NHibernate.Mapping
@using Phorcys.UI.Web.Controllers
@using Telerik.Web.Mvc.UI

@{
  ViewBag.Title = "Maximum Operating Depth";
  Layout = "~/Views/Shared/SiteMaster.cshtml";
}

<h1>Maximum Operationg Depth</h1>

<div id="body">

</div>

<div id="calculator">
  <form action="">
    
  </form>
</div>