@using Microsoft.Web.Mvc
@using Phorcys.Core
@using Phorcys.UI.Web.Controllers
@using Phorcys.Web.Controllers
@using Telerik.Web.Mvc.UI
@using Telerik.Web.Mvc.UI.Fluent
@model IEnumerable<Phorcys.Core.Gear>
@{
  ViewBag.Title = "Gear";
  Layout = "~/Views/Shared/SiteMaster.cshtml";
}
<script type="text/javascript" language="javascript">
  function SubmitForm(id) {
    frmGear.GearId.value = id;
    if (confirm("Are you sure?")) {
      frmGear.submit();
    }
  }
</script>
<h1>
  Gear</h1>
<div id="error" class="errorOnPage">
  @{ if (ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()] != null) {
     } <p id="pageMessage">
         @(ViewContext.TempData[ControllerEnums.GlobalViewDataProperty.PageMessage.ToString()])
       </p>
  }
</div>
<p>
  @(Html.ActionLink<GearController>(c => c.Create(), "Add a piece of gear"))
</p>
<form action="/Phorcys/Gear/Delete/" name="frmGear" method="post">
<input type="hidden" id="GearId" name="Id" />
</form>
<div id="grid">
  @{ Html.Telerik().Grid<Gear>()
  .Name("GearGrid")
  .Pageable(pager => pager.PageSize(20))
  .BindTo(Model)
  .Columns(columns => {
               columns.Bound(o => o.Title).Title("Gear").Sortable(true).HtmlAttributes(new { @class = "grid" });
               columns.Bound(o => o.Acquired).Format("{0:MM/dd/yy}");
               columns.Bound(o => o.NoLongerUse).Title("Retired").Format("{0:MM/dd/yy}");
               //columns.Template(o => o.SoldGear.SoldOn).Title("Sold").Format("{0:MM/dd/yy}"); doesn't work if SoldGear is null. Would have to use template, but then can't sort/filter
               columns.Bound(o => o.Sn).Title("SN");
               //columns.Bound(o => o.Notes).Sortable(false).Width(500);
               columns.Bound(o => o.RetailPrice).Format("{0:$###,###0.00}");
               columns.Bound(o => o.Paid).Format("{0:$###,###0.00}");
               columns.Bound(o => o.Weight);
               columns.Bound(o => o.Created).Format("{0:MM/dd/yy}");
               columns.Bound(o => o.User.LoginId).Title("User").Sortable(true);
               //columns.Template(o => Html.ActionLink<GearController>(c => c.Details(o.Id), "Display")).Width(5).HtmlAttributes(new { @class = "grid" });
               columns.Template(o => Html.ActionLink<GearController>(c => c.Edit(o.GearId), "Edit")).Width(5).HtmlAttributes(new { @class = "grid" });
               columns.Template(o => (o.User.LoginId == "system" & User.Identity.Name != "system" ? Html.Encode("") : Html.Button("Delete", "Delete", HtmlButtonType.Submit, "SubmitForm(" + o.GearId + ")").ToString())).HtmlAttributes(new { @Class = "grid" }).Width(25);
             })
  .Pageable()
  .Sortable()
  .Filterable()
  .Resizable(m => m.Columns(true))
  .Render();
  }
</div>
