<%@ Page Title="DiveSite Details" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" AutoEventWireup="true" 
	Inherits="System.Web.Mvc.ViewPage<Phorcys.Core.DiveSite>" %>
<%@ Import Namespace="Phorcys.Web.Controllers" %>

<asp:Content ContentPlaceHolderID="MainContentPlaceHolder" runat="server">

    <h1>DiveSite Details</h1>

    <br />
    <fieldset>
      <p>
			<label for="DiveSite_Title">Title:</label>
            <span id="DiveSite_Title"><%= Server.HtmlEncode(ViewData.Model.Title.ToString()) %></span>
      </p>

      <p>
			<label for="DiveSite_IsFreshWater">Fresh/Salt Water:</label>
            <span id="DiveSite_IsFreshWater"><%= Server.HtmlEncode((ViewData.Model.IsFreshWater) ? "Fresh" : "Salt") %></span>
      </p>

      <p>
			<label for="DiveSite_GeoCode">GeoCode:</label>
            <span id="DiveSite_GeoCode"><%= Server.HtmlEncode(ViewData.Model.GeoCodeSafe) %>
      </p>

      <p>
			<label for="DiveSite_Notes">Notes:</label>
            <span id="DiveSite_Notes"><%= Server.HtmlEncode(ViewData.Model.Notes.ToString()) %></span>
      </p>

      <p>
			<label for="DiveSite_UserId">User:</label>
            <span id="DiveSite_UserId"><%= Server.HtmlEncode(ViewData.Model.User.LoginId) %></span>
      </p>

   </fieldset>
   <br />
	    <class="buttons">
            <%= Html.Button("btnBack", "Back", HtmlButtonType.Button, 
                "window.location.href = '" + Html.BuildUrlFromExpressionForAreas<DiveSitesController>(c => c.Index()) + "';") %>

</asp:Content>
