<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <!--<property name="connection.connection_string">Data Source=localhost;Initial Catalog=Blinds;Persist Security Info=True;Integrated Security=SSPI;</property>-->
    <!--<property name="connection.connection_string">Data Source=Larry-E6500\SQLEXPRESS;Initial Catalog=SCUBA;Integrated Security=SSPI;</property>-->
    <!--property name="connection.connection_string">Data Source=sql2k1401.discountasp.net;Initial Catalog=SQL2014_754043_larryhack;User Id=SQL2014_754043_larryhack_user;password=nnihuee</property>-->
    <!--property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>-->
    <property name="connection.connection_string">Data Source=localhost;Initial Catalog=SCUBA;Integrated Security=SSPI;</property>
    <property name="show_sql">true</property>
    <property name="default_schema"></property>
    <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
  </session-factory>
</hibernate-configuration>
