@model Phorcys.Services.Contracts.Dtos.EnumerationDto

@{
    ViewBag.Title = "View Enumeration";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>View Enumeration</h2>

The name of the enumeration is @Model.Name.

<br />
<br />

@Html.ActionLink("Return to Enumeration List.", "Index")
