@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
    </head>
    <body>
        <h2>
            Sorry, an error occurred while processing your request.
        </h2>
    </body>
</html>
